<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

  <body>
    
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>

    <!-- browserify for configs -->
    <script type="text/javascript" src="js/app.bundle.js"></script>
    <link rel="stylesheet" href="./css/dbmiannotator.css" type="text/css" />
    
    <!-- annotator js  -->
    <script src="js/annotator.min.js"></script>
    <link rel="stylesheet" href="css/jquery-ui.css">

    <style>
    input[type="radio"] { -webkit-appearance: radio; }
    input[type="checkbox"] { -webkit-appearance: checkbox; }
    </style>

    <article>

      <div id="dialog-select-text-for-data" title="Warning" style="display: none;">
        <p>Please select text span for the data field!</p>
      </div>

      <div id="claim-dialog-confirm" title="finished create claim?" style="display: none;">
        <p>Allowing to add data & material or multiple claims on the same span.</p>
      </div>

      <div id="dialog-claim-delete-confirm" title="Delete Confirmation" style="display: none;"> <p> Delete claim will trancate all data & material assigned on it! </p>
      </div>

      <div id="dialog-data-delete-confirm" title="Delete Confirmation" style="display: none;"> <p> Delete data & material item? </p>
      </div>
      
      <div id='splitter'>
	
	    <div id="content" class="firstsection" style='overflow: auto'>
          <button class="btn btn-success" onclick="buttonshowright()" value="hide"><img src="img/menu.png" height="25px" width="25px"><span id="menu">&nbsp Menu</span></button>
          <button class="btn btn-home" onclick="location.href = '/dbmiannotator/main';" value="hide"><img src="img/home.png" height="20px" width="20px"><span>&nbsp&nbsp Home</span></button>
		  
	      <!-- div with subcontent will be replaced with html document page -->
	      <div style="margin-top:30px" id="subcontent"> <%- htmlsource %> </div>  
          
	    </div>

	    
	    <div id="tabs" style="position:fixed">
          <ul>
            <li><a href="#tabs-1">Annotation Table</a></li>
            <li class="editorsection" ><a href="#tabs-2">Annotation Editor</a></li>
            <li style="display: none;"><a href="#tabs-3">Plugin Settings</a></li>
          </ul>
          
          <div id="tabs-1">
            <div id="mp-annotation-tb" name="<%=config.profile.userProfile.type %>" > </div>
          </div>
          
          <div class="editorsection" id="tabs-2">
            <div class="mpeditorsection"> </div>
          </div>
          
          <div id="tabs-3">

            <form action="/dbmiannotator/savePluginProfile" method="post">
              <table>
                <%
                    if (userProfile == null){
                        selection = config.profile.def;
                    } else {
                        selection = userProfile.type;
                    }
          
                    pluginSetL.forEach(function(pluginset) {
                        checked = "";
                        if (pluginset.type == selection) {
                            checked = "checked";
                        }
                   %>
                <tr>
                  <td> <input type="radio" name="pluginset" value="<%=pluginset.id %>" <%=checked %> > </td>
                  <td><%=pluginset.id %> &nbsp;&nbsp;</td>
                  <td><%=pluginset.name %></td>
                  <td><%=pluginset.description %></td>
                </tr>
                <% }); %>
                <tr>
                  <td></td>
                  <td></td>
                  <td><button type="submit">save</button> </td>
                  <td><button type="button">cancel</button> </td>
                </tr>
              </table>
            </form>
          
          </div>
          
        </div>
      </div>
    </article>
    
  </body>
  <script>
    $( "#tabs" ).tabs();
  </script>
  
  
  <!-- screen spliter js lib -->
  <script type="text/javascript" src="js/jqx-all.js"></script>
  <script type="text/javascript" src="js/demos.js"></script>

  <!-- mp anotation table, editor -->
  <script type="text/javascript" src="js/mp-annotation-table.js"></script>
  <script type="text/javascript" src="js/mp-annotation-editor.js"></script>
  
  <!-- call annotator for mp plugin-->
  <script src="js/annotator-init-mp.js"></script>
  <script type="text/javascript" src="js/mp-menu.js"></script>

</html>
