<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <link rel="stylesheet" href="./css/dbmiannotator.css" type="text/css" />

  <body>    

    <style>
    input[type="radio"] { -webkit-appearance: radio; }
    input[type="checkbox"] { -webkit-appearance: checkbox; }
    </style>

    

      <!-- dialog for selecting text to begin with create claim/data -->
      <div id="dialog-select-text-for-data" title="Warning" style="display: none;">
        <p>Please select text span for the data field!</p>
      </div>

      <!-- dialog for options when creating claim -->
      <div id="create-claim-dialog" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span class="close">×</span>
            <h2>Select next step from options:</h2>
          </div>
          <div class="modal-body">
            <p><strong>Add data from the same text span for Claim:</strong> 
              <div id="dialog-claim-options" style="display: inline;"></div>
              <button id="add-data-same-span-btn">OK</button>
            </p>
            <p><strong>Add another claim from the same text span</strong> 
              <button id="add-claim-same-span-btn">OK</button>
            </p>
            <p><strong>Move to different text span (finish) </strong>
              <button id="finish-same-span-btn">OK</button>
            </p>
          </div>
        </div>
        
      </div>

      <!-- dialog for warn that unchange checkbox will truncate form -->
      <div id="unchanged-warn-dialog" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span class="close">×</span>
            <h2>Check unchanged will truncate current form</h2>
          </div>
          <div class="modal-body">
            <button id="unchanged-dialog-ok-btn">OK</button>
            <button id="unchanged-dialog-cancel-btn">Cancel</button>
          </div>
        </div>
      </div>
      
      
      <div id="dialog-claim-delete-confirm" title="Delete Confirmation" style="display: none;"> <p> Delete claim will trancate all data & material assigned on it! </p>
      </div>

      <div id="dialog-data-delete-confirm" title="Delete Confirmation" style="display: none;"> <p> Delete data & material item? </p>
      </div>
      
      <div id='splitter'>
	
	    <div id="content" class="firstsection" style='overflow: auto'>
          <button class="btn btn-success" onclick="buttonshowright()" value="hide"><img src="img/menu.png" height="25px" width="28px"></button>
          <button class="btn btn-home" onclick="location.href = '/dbmiannotator/main';" value="hide"><img src="img/home.png" height="25px" width="28px"></button>
		  
	      <!-- div with subcontent will be replaced with html document page -->
	      <div style="margin-top:0px" id="subcontent"> <%- htmlsource %> </div>  
          
	    </div>
~
	    
	    <div id="tabs" style="position:fixed">
          <ul>
            <li><a href="#tabs-1">Annotation Table</a></li>
            <li class="editorsection" ><a href="#tabs-2">Annotation Editor</a></li>
            <li style="display: none;"><a href="#tabs-3">Plugin Settings</a></li>
          </ul>
          
          <div id="tabs-1">
            <div id="mp-annotation-tb" name="<%=config.profile.userProfile.type %>" > </div>
          </div>
          
          <div id="tabs-2" class="editorsection">
            <div class="mpeditorsection"> </div>
          </div>
          
          <div id="tabs-3">

            <form action="/dbmiannotator/savePluginProfile" method="post">
              <table>
                <%
                    if (userProfile == null){
                        selection = config.profile.def;
                    } else {
                        selection = userProfile.type;
                    }
          
                    pluginSetL.forEach(function(pluginset) {
                        checked = "";
                        if (pluginset.type == selection) {
                            checked = "checked";
                        }
                   %>
                <tr>
                  <td> <input type="radio" name="pluginset" value="<%=pluginset.id %>" <%=checked %> > </td>
                  <td><%=pluginset.id %> &nbsp;&nbsp;</td>
                  <td><%=pluginset.name %></td>
                  <td><%=pluginset.description %></td>
                </tr>
                <% }); %>
                <tr>
                  <td></td>
                  <td></td>
                  <td><button type="submit">save</button> </td>
                  <td><button type="button">cancel</button> </td>
                </tr>
              </table>
            </form>
          
          </div>
          
        </div>
      </div>
  
    
  </body>
        
        <script>
          $( "#tabs" ).tabs();
        </script>
        
        <!-- browserify for configs -->
        <script type="text/javascript" src="js/app.bundle.js"></script>
        
        <!-- annotator js  -->
        <script src="js/annotator.min.js"></script>
          
        <!-- screen spliter js lib -->
        <script type="text/javascript" src="js/jqx-all.js"></script>
        <script type="text/javascript" src="js/demos.js"></script>
        
        <!-- mp anotation table, editor -->
        <script type="text/javascript" src="js/mp-annotation-table.js"></script>
        <script type="text/javascript" src="js/mp-annotation-editor.js"></script>
        
        <!-- call annotator for mp plugin-->
        <script src="js/annotator-init-mp.js"></script>
        <script type="text/javascript" src="js/mp-menu.js"></script>
          
</html>
