<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"></head>

  <script src="js/jquery-1.11.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <link rel="stylesheet" href="css/jquery-ui.css" />
  <link rel="stylesheet" href="./css/dbmiannotator.css" type="text/css" />

  <body>    

    <style>
    input[type="radio"] { -webkit-appearance: radio; }
    input[type="checkbox"] { -webkit-appearance: checkbox; }
    </style>

    

      <!-- dialog for selecting text to begin with create claim/data -->
      <div id="dialog-select-text-for-data" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span id="select-text-dialog-close" class="annotator-close">×</span>
            <strong>Warning</strong>
          </div>
          <div class="modal-body">
            <strong>Please select text span for the data field!</strong>
          </div>
        </div>
      </div>

      <!-- dialog for options when creating claim -->
      <div id="create-claim-dialog" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span id="create-claim-close" class="annotator-close">×</span>
            <strong>Select next step from options:</strong>
          </div>
          <div class="modal-body">
            <p><strong>Add data from the same text span for Claim:</strong> 
              <div id="dialog-claim-options" style="display: inline;"></div>
              <button id="add-data-same-span-btn">OK</button>
            </p>
            <p><strong>Add another claim from the same text span</strong> 
              <button id="add-claim-same-span-btn">OK</button>
            </p>
            <p><strong>Move to different text span (finish) </strong>
              <button id="finish-same-span-btn">OK</button>
            </p>
          </div>
        </div>
        
      </div>

      <!-- dialog for warn that unchange checkbox will truncate form -->
      <div id="unchanged-warn-dialog" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span id="unchanged-dialog-close" class="annotator-close">×</span>
            <strong>Check unchanged will truncate current form</strong>
          </div>
          <div class="modal-body">
            <button id="unchanged-dialog-ok-btn">OK</button>&nbsp;&nbsp;
            <button id="unchanged-dialog-cancel-btn">Cancel</button>
          </div>
        </div>
      </div>
      
      <!-- dialog for user to save current editing -->
      <div id="remind-unsave-dialog" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span id="unsave-dialog-close" class="annotator-close">×</span>
            <strong>Data you just entered not saved yet!</strong>
          </div>
          <div class="modal-body">
            Please click save button before exit current form<button id="remind-dialog-ok-btn">OK</button>
          </div>
        </div>
      </div>

      <!-- dialog for warn that this claim will be deleted-->
      <div id="dialog-claim-delete-confirm" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span id="claim-delete-dialog-close" class="annotator-close">×</span>
            <strong>Delete Confirmation</strong>
          </div>
          <div class="modal-body">
            <p><strong> Delete claim will trancate all data & material assigned on it! </strong></p>
            <button id="claim-delete-confirm-btn">Confirm</button>&nbsp;&nbsp;
            <button id="claim-delete-cancel-btn">Cancel</button>
          </div>
        </div>
      </div>

      <!-- dialog for warn that this data will be deleted-->
      <div id="dialog-data-delete-confirm" class="dialog-background" style="display: none;">
        <div class="dialog-content">
          <div class="modal-header">
            <span id="data-delete-dialog-close" class="annotator-close">×</span>
            <strong>Delete Confirmation</strong>
          </div>
          <div class="modal-body">
            <p><strong> Delete data & material item? </strong></p>
            <button id="data-delete-confirm-btn">Confirm</button>&nbsp;&nbsp;
            <button id="data-delete-cancel-btn">Cancel</button>
          </div>
        </div>
      </div>


      <!-- dialog for annotations import panel-->
      <div id="dialog-annotation-import" class="import-dialog-background" style="display: none;">
        <div class="import-dialog-content">
          <div class="modal-header">
            <span id="annotation-import-dialog-close" class="annotator-close">×</span>
            <strong>Annotation import</strong>
          </div>
          <div class="modal-body">
            <p><strong> Load my annotation by default </strong></p>
            <p><strong> Option: select other's annotation to import </strong></p>
            <!-- inject all public data sets from different users --> 
            <div id="import-annotation-selection"></div>
            <br>
            <button id="ann-import-confirm-btn">Import</button>&nbsp;&nbsp;
            <button id="ann-import-cancel-btn">Cancel</button>
          </div>
        </div>
      </div>
      
      <div id='splitter'>
	
	    <div id="content" style="height:100%; overflow:auto">

          <button class="btn btn-success" onclick="annotationPanelClick()" value="hide"><img src="img/menu.png" height="25px" width="28px"></button>
          <button class="btn btn-home" onclick="backToHome();" value="hide"><img src="img/home.png" height="25px" width="28px"></button>
		  
	      <!-- div with subcontent will be replaced with html document page -->
	      <div style="margin-top:0px" id="subcontent"> <%- htmlsource %> </div>  
          
	    </div>

	    
	    <div id="tabs" style="position:fixed">
          <ul>
            <li><a href="#tabs-1">Annotation Table</a></li>
            <li class="editorsection" ><a href="#tabs-2">Annotation Editor</a></li>
            <li style="display: none;"><a href="#tabs-3">Plugin Settings</a></li>
          </ul>
          
          <div id="tabs-1">
            <div id="mp-annotation-tb" name="<%=config.profile.userProfile.type %>" > </div>
          </div>
          
          <div id="tabs-2" class="editorsection">
            <div class="mpeditorsection"> </div>
          </div>
          
          <div id="tabs-3">

            <form action="/dbmiannotator/savePluginProfile" method="post">
              <table>
                <%
                    if (userProfile == null){
                        selection = config.profile.def;
                    } else {
                        selection = userProfile.type;
                    }
          
                    pluginSetL.forEach(function(pluginset) {
                        checked = "";
                        if (pluginset.type == selection) {
                            checked = "checked";
                        }
                   %>
                <tr>
                  <td> <input type="radio" name="pluginset" value="<%=pluginset.id %>" <%=checked %> > </td>
                  <td><%=pluginset.id %> &nbsp;&nbsp;</td>
                  <td><%=pluginset.name %></td>
                  <td><%=pluginset.description %></td>
                </tr>
                <% }); %>
                <tr>
                  <td></td>
                  <td></td>
                  <td><button type="submit">save</button> </td>
                  <td><button type="button">cancel</button> </td>
                </tr>
              </table>
            </form>
          
          </div>
          
        </div>
      </div>
      <div class="annotator-modal"><!-- Loaing widget: Place at bottom of page --></div>

  </body>
        
        <script>
          $( "#tabs" ).tabs();
        </script>
        
        <!-- browserify for configs -->
        <script type="text/javascript" src="js/app.bundle.js"></script>
        
        <!-- annotator js  -->
        <script src="js/annotator.min.js"></script>
          
        <!-- screen spliter js lib -->
        <script type="text/javascript" src="js/jqx-all.js"></script>
        <script type="text/javascript" src="js/demos.js"></script>
        
        <!-- mp anotation table, editor -->
        <script type="text/javascript" src="js/mp-annotation-table.js"></script>
        <script type="text/javascript" src="js/mp-annotation-editor.js"></script>
        
        <!-- call annotator for mp plugin-->
        <script src="js/annotator-init-mp.js"></script>
        <script type="text/javascript" src="js/mp-menu.js"></script>

        <!-- add mark.js -->
        <script src="js/mark/mark.min.js"></script>
          
</html>
