 <!-- 
 Copyright 2016-2017 University of Pittsburgh

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http:www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<html>
  <body>

    <style> body        { padding-top:80px; word-wrap:break-word; } </style>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- load fontawesome -->
    
    <article>

      <div class="row">
	
        <div class="col-sm-8">
	  <div class="page-header text-center">
	    <h1><span class="fa fa-anchor"></span> DBMI Annotator </h1>
	  </div>
	  
	  <div class="well">
	    
	    <strong>Welcome: </strong> <%= user.email %> &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="/dbmiannotator/logout" class="btn btn-default btn-sm">Logout</a>
	    
	    <br><br><br>
	    
	    <!-- document load  -->
	    <strong>Load document: </strong>
	    (Please input valid html web resources or PDF document URL): 
	    <br>
		  
		  
	    <div id="toppanel">
	      
	      <form action="/dbmiannotator/displayWebPage" method="get" >
		<input type="text" id="sourceURL" name="sourceURL" size="40" maxlength="150" />
		<input type="text" id="email" name="email" value="<%= user.email %>" style="display: none;" />  &nbsp;
		<button id="loadButton" class="btn btn-success">load</button>
	      </form>
	      
    <% if (loadMessage.length > 0) { %>
				     <div class="alert alert-warning"><%=loadMessage %></div>
				     <% } %>
	    </div>
		  
		  
            <h3><span class="fa fa-user"></span>&nbsp;Profile (Overview annotation tasks) </h3>

	    <table class="table table-striped" >

		    
    <%  if (annotations.total == -1) {   %>
	      <tr>
		<td>Document source URL </td>
           		<td>Number of Annotations </td>
	      </tr>

	      <%
				      var dictAnnots = {};
		 
				      for(var i=0; i < annotations.rows.length; i++) {
					  if (annotations.rows[i].rawurl in dictAnnots){
					      dictAnnots[annotations.rows[i].rawurl] += 1;
					  } else {
					      dictAnnots[annotations.rows[i].rawurl] = 1;
					  }
				      }
				      
				      for (var item in dictAnnots){
					  var dbmiurl = "";
					  // if (item.match(/localhost.*\.pdf/g)){
					  //     dbmiurl = "viewer.html?file=" + item + "&email=" + user.email;
					  // }
					  // else {
					  //     dbmiurl = "displayWebPage?sourceURL=" + item + "&email=" + user.email;
					  // }

					  if (item.match(/localhost.*\.html/g)){
					      dbmiurl = "displayWebPage?sourceURL=" + item + "&email=" + user.email;
					  }
					      %>
		 <tr>
						  <td><a href="<%=dbmiurl %>" > <%=item %> </a>  </td>
						  <td><%=dictAnnots[item] %> </td>
						  </tr>

					      <% }
				  } else { %>

	    
					      <strong>Sample document links </strong><br><br>

					   <p>Local PMC articles: <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC1884190.html&email=<%=user.email%>">http://localhost/PMC/PMC1884190.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC90851.html&email=<%=user.email%>">http://localhost/PMC/PMC90851.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC3187007.html&email=<%=user.email%>">http://localhost/PMC/PMC3187007.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC3900249.html&email=<%=user.email%>">http://localhost/PMC/PMC3900249.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC3769672.html&email=<%=user.email%>">http://localhost/PMC/PMC3769672.html</a> <br> 
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC2764168.html&email=<%=user.email%>">http://localhost/PMC/PMC2764168.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC2686069.html&email=<%=user.email%>">http://localhost/PMC/PMC2686069.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC3703233.html&email=<%=user.email%>">http://localhost/PMC/PMC3703233.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/PMC/PMC3091944.html&email=<%=user.email%>">http://localhost/PMC/PMC3091944.html</a> <br>
					   </p>
					      
					   <p>Local dailymed html labels: <br>
					     <a href="displayWebPage?sourceURL=http://localhost/DDI-labels/ba74e3cd-b06f-4145-b284-5fd6b84ff3c9.html&email=<%=user.email%>" >http://localhost/DDI-labels/ba74e3cd-b06f-4145-b284-5fd6b84ff3c9.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/DDI-labels/d76d5540-7bae-4719-8166-f2a9106338df.html&email=<%=user.email%>" >http://localhost/DDI-labels/d76d5540-7bae-4719-8166-f2a9106338df.html</a> <br>	     
					     <a href="displayWebPage?sourceURL=http://localhost/DDI-labels/7b8e5b26-b9e4-4704-921b-3c3c0d159916.html&email=<%=user.email%>" >http://localhost/DDI-labels/7b8e5b26-b9e4-4704-921b-3c3c0d159916.html</a> <br>
					     <a href="displayWebPage?sourceURL=http://localhost/DDI-labels/9c4bedb4-2d59-4fcd-aad7-fce988cd96d8.html&email=<%=user.email%>" >http://localhost/DDI-labels/9c4bedb4-2d59-4fcd-aad7-fce988cd96d8.html</a> <br>	     
					     <a href="displayWebPage?sourceURL=http://localhost/DDI-labels/036db1f2-52b3-42a0-acf9-817b7ba8c724.html&email=<%=user.email%>" >http://localhost/DDI-labels/036db1f2-52b3-42a0-acf9-817b7ba8c724.html</a> <br>	     
					   </p>

					   <!-- <p>Local wiley html labels: <br> -->
					   <!--   <a href="displayWebPage?sourceURL=http://localhost/wiley/wiley19236630.html&email=<%=user.email%>" >http://localhost/wiley/wiley19236630.html</a> <br> -->
					   
					   <% } %>
	    </table>
	    <br><br>

	    
	    <!-- annotation download  -->

	    <form action="/dbmiannotator/exportcsv" method="get">
	      <strong>Download my annotations in csv: </strong>
	      <input type="text" id="email" name="email" value="<%= user.email %>" style="display: none;" />
	      <button id="exportButton" class="btn btn-success">Download</button>
	    </form>
	    
	  </div>
	  
	</div>





	
      </div>	
    </article>


    
  </body>
</html>
