 <!-- 
 Copyright 2016-2017 University of Pittsburgh

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http:www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<html>
  <body>

    <head>
      <title>AnnotationPress</title>

      <style> body        { padding-top:80px; word-wrap:break-word; } </style>
      <script src="js/jquery-1.11.1.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/jquery-ui.css" />
      <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
      <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- load fontawesome -->
      <script>
		  $( function() {
		    $( "#tabs" ).tabs();
		  } );
	  </script>
    </head>
    
    <article>

      <div class="row">
	
        <div class="col-sm-8">
	  <div class="page-header text-center">
	    <h1>AnnotatonPress </h1>
	  </div>
	  
	  <div class="well">
	    
	    <strong>Welcome: </strong> <%= user.email %> &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="/dbmiannotator/logout" class="btn btn-default btn-sm">Logout</a>
	    
	    <br><br><br>
	    
	    <!-- document load  -->
	    <strong>Load document: </strong>
	    (Please input valid html web resources or PDF document URL): 
	    <br>
		  
		  
	    <div id="toppanel">
	      
	      <form action="/dbmiannotator/displayWebPage" method="get" >
		<input type="text" id="sourceURL" name="sourceURL" size="40" maxlength="150" />
		<input type="text" id="email" name="email" value="<%= user.email %>" style="display: none;" />  &nbsp;
		<button id="loadButton" class="btn btn-success">load</button>
	      </form>
	      
    <% if (loadMessage.length > 0) { %>
				     <div class="alert alert-warning"><%=loadMessage %></div>
				     <% } %>
	    </div>
		  
		  
            <h3><span class="fa fa-user"></span>&nbsp;Profile (Overview annotation tasks) </h3>

	    <div class="table table-striped" >

		    
    <%  if (annotations.total == -1) {   %>
	      <tr>
		<td>Document source URL </td>
           		<td>Number of Annotations </td>
	      </tr>

	      <%
				      var dictAnnots = {};
		 
				      for(var i=0; i < annotations.rows.length; i++) {
					  if (annotations.rows[i].rawurl in dictAnnots){
					      dictAnnots[annotations.rows[i].rawurl] += 1;
					  } else {
					      dictAnnots[annotations.rows[i].rawurl] = 1;
					  }
				      }
				      
				      for (var item in dictAnnots){
					  var dbmiurl = "";
					  // if (item.match(/localhost.*\.pdf/g)){
					  //     dbmiurl = "viewer.html?file=" + item + "&email=" + user.email;
					  // }
					  // else {
					  //     dbmiurl = "displayWebPage?sourceURL=" + item + "&email=" + user.email;
					  // }

					  if (item.match(/localhost.*\.html/g)){
					      dbmiurl = "displayWebPage?sourceURL=" + item + "&email=" + user.email;
					  }
					      %>
		 <tr>
						  <td><a href="<%=dbmiurl %>" > <%=item %> </a>  </td>
						  <td><%=dictAnnots[item] %> </td>
						  </tr>

					      <% }
				  } else { %>

	    
					    <strong>Local document links </strong><br><br>

					    <div id="tabs">
						  <ul>
						    <li><a href="#tabs-1">DailyMed</a></li>
						    <li><a href="#tabs-2">PubMed</a></li>
						    <li><a href="#tabs-3">Wiley</a></li>
						    <li><a href="#tabs-4">Elsevier</a></li>
						    <li><a href="#tabs-5">Springer</a></li>
						    <li><a href="#tabs-6">Sage</a></li>
						    <li><a href="#tabs-7">Taylor & Francis</a></li>
						    <li><a href="#tabs-8">Wolters Kluwer</a></li>
						    <li><a href="#tabs-9">FutureMedicine</a></li>
						  </ul>
						  <div id="tabs-1">
						    <table id="dailymed-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Drug</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<% 
					   		var dailyArt = [
{drug: 'Amitriptyline', link: 'http://localhost/DDI-labels/ea35caf8-c8c8-481a-97a2-25f68cbc240b.html'},
{drug: 'Amoxapine', link: 'http://localhost/DDI-labels/a16297df-3158-48db-85e5-5cd506885556.html'},
{drug: 'Apixaban', link: 'http://localhost/DDI-labels/e9481622-7cc6-418a-acb6-c5450daae9b0.html'},
{drug: 'Aripiprazole', link: 'http://localhost/DDI-labels/ee49f3b1-1650-47ff-9fb1-ea53fe0b92b6.html'},
{drug: 'Asenapine', link: 'http://localhost/DDI-labels/5429f134-839f-4ffc-9944-55f51238def8.html'},
{drug: 'Atorvastatin', link: 'http://localhost/DDI-labels/c6e131fe-e7df-4876-83f7-9156fc4e8228.html'},
{drug: 'Bupropion', link: 'http://localhost/DDI-labels/a435da9d-f6e8-4ddc-897d-8cd2bf777b21.html'},
{drug: 'Chlorpromazine', link: 'http://localhost/DDI-labels/e86adbc4-a03e-4f43-a88c-b9015d18ff9f.html'},
{drug: 'Citalopram', link: 'http://localhost/DDI-labels/4259d9b1-de34-43a4-85a8-41dd214e9177.html'},
{drug: 'Clomipramine', link: 'http://localhost/DDI-labels/1809bcb4-5fcc-45ca-986a-4fa5edcd4b5e.html'},
{drug: 'Clozapine', link: 'http://localhost/DDI-labels/5f0c6f5f-b906-4c8f-8580-3939a476a1c1.html'},
{drug: 'Dabigatran', link: 'http://localhost/DDI-labels/ba74e3cd-b06f-4145-b284-5fd6b84ff3c9.html'},
{drug: 'Desipramine', link: 'http://localhost/DDI-labels/3e593725-3fc9-458e-907d-19d51d5a7f9c.html'},
{drug: 'Desvenlafaxine', link: 'http://localhost/DDI-labels/a9ff32c4-3bcf-4e51-ae8c-81ff0191ec35.html'},
{drug: 'Doxepin', link: 'http://localhost/DDI-labels/c66a11c1-3093-45ef-b348-3b196c05ba0c.html'},
{drug: 'Duloxetine', link: 'http://localhost/DDI-labels/829a4f51-c882-4b64-81f3-abfb03a52ebe.html'},
{drug: 'Escitalopram', link: 'http://localhost/DDI-labels/13bb8267-1cab-43e5-acae-55a4d957630a.html'},
{drug: 'Estazolam', link: 'http://localhost/DDI-labels/50914a46-eab6-4c83-97cf-6ab0234c8126.html'},
{drug: 'Eszopiclone', link: 'http://localhost/DDI-labels/39a5dae2-49f7-4662-9eac-aa7b4c7807a4.html'},
{drug: 'Fluoxetine', link: 'http://localhost/DDI-labels/5f356c1b-96bd-4ef1-960c-91cf4905e6b1.html'},
{drug: 'Fluphenazine', link: 'http://localhost/DDI-labels/b580471f-44a1-4da0-96ad-2f537eabec3e.html'},
{drug: 'Flurazepam', link: 'http://localhost/DDI-labels/2f2db2f5-49d3-4d47-a08a-628df49d2120.html'},
{drug: 'Fluvastatin', link: 'http://localhost/DDI-labels/aad8b373-0aec-4efb-8e61-3d8114b31127.html'},
{drug: 'Fluvoxamine', link: 'http://localhost/DDI-labels/53664f8d-3a93-9f2b-daee-380707e4062c.html'},
{drug: 'Haloperidol', link: 'http://localhost/DDI-labels/7d1a9689-23c8-44ef-a474-8c607e13d794.html'},
{drug: 'Iloperidone', link: 'http://localhost/DDI-labels/43452bf8-76e7-47a9-a5d8-41fe84d061f0.html'},
{drug: 'Imipramine', link: 'http://localhost/DDI-labels/75bf3473-2d70-4d41-93cd-afa1015e45bb.html'},
{drug: 'Isocarboxazid', link: 'http://localhost/DDI-labels/ac387aa0-3f04-4865-a913-db6ed6f4fdc5.html'},
{drug: 'Levomilnacipran', link: 'http://localhost/DDI-labels/f371258d-91b3-4b6a-ac99-434a1964c3af.html'},
{drug: 'Lovastatin', link: 'http://localhost/DDI-labels/520428f1-2cd5-447f-8782-c8505ce65b72.html'},
{drug: 'Loxapine', link: 'http://localhost/DDI-labels/b074f950-246a-41f0-aedf-32f38998a4b1.html'},
{drug: 'Lurasidone', link: 'http://localhost/DDI-labels/afad3051-9df2-4c54-9684-e8262a133af8.html'},
{drug: 'Maprotiline', link: 'http://localhost/DDI-labels/c3ca69e6-1ea0-4c2c-abcb-7264b2e79a87.html'},
{drug: 'Minacipran', link: 'http://localhost/DDI-labels/16a4a314-f97e-4e91-95e9-576a3773d284.html'},
{drug: 'Mirtazapine', link: 'http://localhost/DDI-labels/010f9162-9f7f-4b6d-a6e4-4f832f26f38e.html'},
{drug: 'Nefazodone', link: 'http://localhost/DDI-labels/51ff7db5-aaf9-4c3c-86e6-958ebf16b60f.html'},
{drug: 'Nortriptyline', link: 'http://localhost/DDI-labels/e17dc299-f52d-414d-ab6e-e809bd6f8acb.html'},
{drug: 'Olanzapine', link: 'http://localhost/DDI-labels/d5051fbc-846b-4946-82df-341fb1216341.html'},
{drug: 'Paliperidone', link: 'http://localhost/DDI-labels/7b8e5b26-b9e4-4704-921b-3c3c0d159916.html'},
{drug: 'Paroxetine', link: 'http://localhost/DDI-labels/326e8ab0-6886-4749-9544-885b37070051.html'},
{drug: 'Perphenazine', link: 'http://localhost/DDI-labels/d78e9639-6fab-4a78-8b29-6991a18ae6c6.html'},
{drug: 'Phenelzine', link: 'http://localhost/DDI-labels/513a41d0-37d4-4355-8a6d-a2c643bce6fa.html'},
{drug: 'Pitavastatin', link: 'http://localhost/DDI-labels/44dcbf97-99ec-427c-ba50-207e0069d6d2.html'},
{drug: 'Pravastatin', link: 'http://localhost/DDI-labels/ad386ed4-a284-4da5-b79a-3c0f4165057a.html'},
{drug: 'Prochlorperazine', link: 'http://localhost/DDI-labels/a971ea18-40cf-4a01-b696-180ccc3fddb5.html'},
{drug: 'Protriptyline', link: 'http://localhost/DDI-labels/b8881a81-75d7-43e8-825f-37c352c146dc.html'},
{drug: 'Quazepam', link: 'http://localhost/DDI-labels/309f8ac3-a3fd-4313-96aa-7f21fa9cd646.html'},
{drug: 'Quetiapine', link: 'http://localhost/DDI-labels/4e1e5249-1cb7-4cc2-ad5a-cdeeee2f494f.html'},
{drug: 'Risperidone', link: 'http://localhost/DDI-labels/49c4105b-e518-481c-a248-6684135f5bc1.html'},
{drug: 'Rivaroxaban', link: 'http://localhost/DDI-labels/10db92f9-2300-4a80-836b-673e1ae91610.html'},
{drug: 'Rosuvastatin', link: 'http://localhost/DDI-labels/1fd0ba23-962e-427f-8b9d-2cf8f64d0f95.html'},
{drug: 'Selegiline (patch)', link: 'http://localhost/DDI-labels/b891bd9f-fdb8-4862-89c5-ecdd700398a3.html'},
{drug: 'Sertraline', link: 'http://localhost/DDI-labels/c25f968b-7037-4f60-9a02-2189769b0cbf.html'},
{drug: 'Simvastatin', link: 'http://localhost/DDI-labels/fdbfe194-b845-42c5-bb87-a48118bc72e7.html'},
{drug: 'Temazepam', link: 'http://localhost/DDI-labels/a4ee3907-45d4-41b9-af8a-39a9966cd533.html'},
{drug: 'Thioridazine', link: 'http://localhost/DDI-labels/9c4bedb4-2d59-4fcd-aad7-fce988cd96d8.html'},
{drug: 'Thiothixene', link: 'http://localhost/DDI-labels/827cf470-485d-4925-85f2-8933a6dea830.html'},
{drug: 'Tranylcypromine', link: 'http://localhost/DDI-labels/2e7350bd-ab32-4619-a3f9-12fdf56fc5e2.html'},
{drug: 'Triazolam', link: 'http://localhost/DDI-labels/a0da0dba-a56d-486b-a45b-e8a7cdfbeac6.html'},
{drug: 'Trifluoperazine', link: 'http://localhost/DDI-labels/1a5a93be-7bc3-4714-9308-2fbfb8260e23.html'},
{drug: 'Trimipramine', link: 'http://localhost/DDI-labels/0177d783-773c-41bf-9db9-eb7e5c64474a.html'},
{drug: 'Venlafaxine', link: 'http://localhost/DDI-labels/4c401522-0108-49cb-8a41-fb5ad4dd0fb1.html'},
{drug: 'Vortioxetine', link: 'http://localhost/DDI-labels/4b0700c9-b417-4c3a-b36f-de461e125bd3.html'},
{drug: 'Warfarin', link: 'http://localhost/DDI-labels/d2f6d2d0-1b32-4caf-9fce-6b798c94204b.html'},
{drug: 'Zaleplon', link: 'http://localhost/DDI-labels/2f44db39-e1d9-451e-ba31-e4b10366a430.html'},
{drug: 'Ziprasidone', link: 'http://localhost/DDI-labels/036db1f2-52b3-42a0-acf9-817b7ba8c724.html'},
{drug: 'Zolpidem', link: 'http://localhost/DDI-labels/d76d5540-7bae-4719-8166-f2a9106338df.html'},
					   		];
					   %>
						   <%for(var i=0; i<dailyArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= dailyArt[i].drug %></td>
						            <td><a href='displayWebPage?sourceURL=<%= dailyArt[i].link %>&email=<%=user.email%>'>
						                <%= dailyArt[i].link %>
						            </a></td>
						        </tr>
						   <% } %>
						   </tbody>
						   </table>
						  </div>
						  <div id="tabs-2">
						    <%
						    var pubmedArt = [
{article: 'Aberg_2006_16514303', link: 'http://localhost/PMC/PMC1459289.html'},
{article: 'Allred_2011_21434975', link: 'http://localhost/PMC/PMC3162661.html'},
{article: 'Cooper_2003_12534645', link: 'http://localhost/PMC/PMC1884190.html'},
{article: 'Coyne_2007_17911146', link: 'http://localhost/PMC/PMC2598705.html'},
{article: 'Damle_2011_21876043.pdf', link: 'http://localhost/PMC/PMC3195022.html'},
{article: 'DeGorter_2013_23876492', link: 'http://localhost/PMC/PMC3922121.html'},
{article: 'Delavenne_2013_03065251.html.pdf', link: 'http://localhost/PMC/PMC3703233.html'},
{article: 'Faries_2005_15921508', link: 'http://localhost/PMC/PMC1156914.html'},
{article: 'Frymoyer_2010_00099236.pdf', link: 'http://localhost/PMC/PMC3091944.html'},
{article: 'Glasheen_2005_16050864', link: 'http://localhost/PMC/PMC1490169.html'},
{article: 'Härtter_2012_22348256', link: 'http://localhost/PMC/PMC3477350.html'},
{article: 'Hopewell_2012_23100282', link: 'http://localhost/PMC/PMC3612775.html'},
{article: 'Hsyu_2001_11709322', link: 'http://localhost/PMC/PMC90851.html'},
{article: 'Kao_2008_19046202', link: 'http://localhost/PMC/PMC2602841.html'},
{article: 'Kitzmiller_2013_23314529', link: 'http://localhost/PMC/PMC3681953.html'},
{article: 'Krishna_2009_19552746', link: 'http://localhost/PMC/PMC2686068.html'},
{article: 'Kyrklund_2004_14748817', link: 'http://localhost/PMC/PMC1884432.html'},
{article: 'Lash_2008_18665165', link: 'http://localhost/PMC/PMC2527838.html'},
{article: 'Laszlo_2013_23388500', link: 'http://localhost/PMC/PMC3571969.html'},
{article: 'Lee_2011_21825288', link: 'http://localhost/PMC/PMC3187007.html'},
{article: 'Martin_2002_12445025', link: 'http://localhost/PMC/PMC1874466.html'},
{article: 'McDonald_2012_22398967', link: 'http://localhost/PMC/PMC3900249.html'},
{article: 'Mueck_2013_23305158', link: 'http://localhost/PMC/PMC3769672.html'},
{article: 'No author_2009_19228618', link: 'http://localhost/PMC/PMC2722908.html'},
{article: 'Pham_2009_19667285', link: 'http://localhost/PMC/PMC2764168.html'},
{article: 'Templeton_2010_20739919.pdf', link: 'http://localhost/PMC/PMC3056523.html'},
{article: 'Walker_2009_03065251', link: 'http://localhost/PMC/PMC2686069.html'},
{article: 'Yamazaki_2010_20565450', link: 'http://localhost/PMC/PMC2883751.html'},
						];
						    %>
						    <table id="pubmed-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<pubmedArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= pubmedArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= pubmedArt[i].link %>&email=<%=user.email%>'>
						                <%= pubmedArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table> 
						  </div>
						  <div id="tabs-3">
						  <%
				var wileyArt = [
{article: 'Adan-Manes_2006_16882112', link: 'http://localhost/wiley/wiley16882112.html'},
{article: 'Aquilante_2012_22174437', link: 'http://localhost/wiley/wiley22174437.html'},
{article: 'Ayalasomayajula_2007_17442686', link: 'http://localhost/wiley/wiley17442686.html'},
{article: 'Backman_2005_16084850', link: 'http://localhost/wiley/wiley16084850.html'},
{article: 'Becquemont_2007_17301736', link: 'http://localhost/wiley/wiley17301736.html'},
{article: 'Bhome_2012_22023482', link: 'http://localhost/wiley/wiley22023482.html'},
{article: 'Boralli_2009_19033449', link: 'http://localhost/wiley/wiley19033449.html'},
{article: 'Boucher_2009_19236630', link: 'http://localhost/wiley/wiley19236630.html'},
{article: 'Chappell_2009_19793910', link: 'http://localhost/wiley/wiley19793910.html'},
{article: 'Choi_2008_17568401', link: 'http://localhost/wiley/wiley17568401.html'},
{article: 'Chung_200516198653', link: 'http://localhost/wiley/wiley16198653.html'},
{article: 'Derks_2010_20489031', link: 'http://localhost/wiley/wiley20489031.html'},
{article: 'Dubovsky_2011_21755540', link: 'http://localhost/wiley/wiley21755540.html'},
{article: 'Edwin_2010_20081064', link: 'http://localhost/wiley/wiley20081064.html'},
{article: 'Gerrits_2012_21628604', link: 'http://localhost/wiley/wiley21628604.html'},
{article: 'Gustavson_2005_16027406', link: 'http://localhost/wiley/wiley16027406.html'},
{article: 'Honkalammi_2012_22472994.pdf', link: 'http://localhost/wiley/wiley22472994.html'},
{article: 'Hu_2011_21545622', link: 'http://localhost/wiley/wiley21545622.html'},
{article: 'Ieiri_2007_17460607', link: 'http://localhost/wiley/wiley17460607.html'},
{article: 'Inagaki_2011_21228405', link: 'http://localhost/wiley/wiley21228405.html'},
{article: 'Jung_2005_16321618', link: 'http://localhost/wiley/wiley16321618.html'},
{article: 'Keskitalo_2009_19474787', link: 'http://localhost/wiley/wiley19474787.html'},
{article: 'Kim_2008_18094221', link: 'http://localhost/wiley/wiley18094221.html'},
{article: 'Krajewski_2010_20056800', link: 'http://localhost/wiley/wiley20056800.html'},
{article: 'Kubitza_2005_16198660', link: 'http://localhost/wiley/wiley16198660.html'},
{article: 'Kubitza_2006_16920892', link: 'http://localhost/wiley/wiley16920892.html'},
{article: 'Kubitza_2013_23381840', link: 'http://localhost/wiley/wiley23381840.html'},
{article: 'Lau_2007_17192770', link: 'http://localhost/wiley/wiley17192770.html'},
{article: 'Laugesen_2005_15903129', link: 'http://localhost/wiley/wiley15903129.html'},
{article: 'Lee_2005_16198652', link: 'http://localhost/wiley/wiley16198652.html'},
{article: 'Mach_2005_16101667', link: 'http://localhost/wiley/wiley16101667.html'},
{article: 'Mahatthanatrakul_2012_21518375.pdf', link: 'http://localhost/wiley/wiley21518375.html'},
{article: 'Mattichak_2005_15966919', link: 'http://localhost/wiley/wiley15966919.html'},
{article: 'Morrison_2012_22452676.pdf', link: 'http://localhost/wiley/wiley22452676.html'},
{article: 'Niemi_2006_17015053', link: 'http://localhost/wiley/wiley17015053.html'},
{article: 'Samineni_2012_21712498', link: 'http://localhost/wiley/wiley21712498.html'},
{article: 'Schmidt-Hoffmann_2011_ 21443601', link: 'http://localhost/wiley/wiley21443601.html'},
{article: 'Schwartz_2009_18754003', link: 'http://localhost/wiley/wiley18754003.html'},
{article: 'Simonson_2005_16027403', link: 'http://localhost/wiley/wiley16027403.html'},
{article: 'Suzuki_2011_22144033', link: 'http://localhost/wiley/wiley22144033.html'},
{article: 'Tanaka_2011_20702754.pdf', link: 'http://localhost/wiley/wiley20702754.html'},
{article: 'Vaidyanathan_2008_18784280', link: 'http://localhost/wiley/wiley18784280.html'},
{article: 'Vieweg_2005_16156840', link: 'http://localhost/wiley/wiley16156840.html'},
{article: 'Whitfield_2011_20413454', link: 'http://localhost/wiley/wiley20413454.html'},
];
						  %>
						  		<table id="wiley-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<wileyArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= wileyArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= wileyArt[i].link %>&email=<%=user.email%>'>
						                <%= wileyArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>


						  </div>
						  <div id="tabs-4">
						  <%
				var elsevierArt = [
{article: 'Aithal_1999_10073515', link: 'http://localhost/elsevier/elsevier10073515.html'},
{article: 'Bahk_2005_15610953', link: 'http://localhost/elsevier/elsevier15610953.html'},
{article: 'Brophy_2006_16875906', link: 'http://localhost/elsevier/elsevier16875906.html'},
{article: 'Castro_2002_11959068', link: 'http://localhost/elsevier/elsevier11959068.html'},
{article: 'Corsini_2005_16291014', link: 'http://localhost/elsevier/elsevier16291014.html'},
{article: 'Dopazo_2009_19376416', link: 'http://localhost/elsevier/elsevier19376416.html'},
{article: 'Duell_1998_9468088', link: 'http://localhost/elsevier/elsevier9468088.html'},
{article: 'Ferrari_2012_22901441', link: 'http://localhost/elsevier/elsevier22901441.html'},
{article: 'Gheorghiade_2011_20947383', link: 'http://localhost/elsevier/elsevier20947383.html'},
{article: 'Gnanadesigan_2005_16005413', link: 'http://localhost/elsevier/elsevier16005413.html'},
{article: 'Gullestad_1999_10456002', link: 'http://localhost/elsevier/elsevier10456002.html'},
{article: 'Huang_2010_20633751.pdf', link: 'http://localhost/elsevier/elsevier20633751.html'},
{article: 'Jacobson_2004_15518608', link: 'http://localhost/elsevier/elsevier15518608.html'},
{article: 'Letsas_2006_15935493', link: 'http://localhost/elsevier/elsevier15935493.html'},
{article: 'Levine_2011_21376420', link: 'http://localhost/elsevier/elsevier21376420.html'},
{article: 'Morales_2005_15883150', link: 'http://localhost/elsevier/elsevier15883150.html'},
{article: 'Pavuluri_2004_15571784', link: 'http://localhost/elsevier/elsevier15571784.html'},
{article: 'Rindone_1998_9726762', link: 'http://localhost/elsevier/elsevier9726762.html'},
{article: 'Rohde_2008_18675600', link: 'http://localhost/elsevier/elsevier18675600.html'},
{article: 'Saw_2004_14996608', link: 'http://localhost/elsevier/elsevier14996608.html'},
{article: 'Steinhubl_2006_16875897', link: 'http://localhost/elsevier/elsevier16875897.html'},
{article: 'Tahir_2004_14984623', link: 'http://localhost/elsevier/elsevier14984623.html'},
{article: 'Yang_2011_21601733', link: 'http://localhost/elsevier/elsevier21601733.html'},
{article: 'Zhang_2006_16784736', link: 'http://localhost/elsevier/elsevier16784736.html'},
							];
						  %>
						  		<table id="elsevier-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<elsevierArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= elsevierArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= elsevierArt[i].link %>&email=<%=user.email%>'>
						                <%= elsevierArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>   
						  </div>
						  <div id="tabs-5">
						  <%
var springerArt = [
{article: 'Almog_1988_3175736', link: 'http://localhost/springer/springer3175736.html'},
{article: 'Benesic_2004_15293079', link: 'http://localhost/springer/springer15293079.html'},
{article: 'Bergman_2009_19204138', link: 'http://localhost/wiley/wiley19204138.html'},
{article: 'Chen_2013_23831870', link: 'http://localhost/springer/springer23831870.html'},
{article: 'Choi_2008_18193210', link: 'http://localhost/springer/springer18193210.html'},
{article: 'Choi_2010_20012601.pdf', link: 'http://localhost/springer/springer20012601.html'},
{article: 'Dingemanse_2003_12603176', link: 'http://localhost/springer/springer12603176.html'},
{article: 'Fang_1998_9840430', link: 'http://localhost/springer/springer9840430.html'},
{article: 'Herman_2006_16552506', link: 'http://localhost/springer/springer16552506.html'},
{article: 'Hoch_2013_23334403', link: 'http://localhost/springer/springer23334403.html'},
{article: 'Hochman_2004_15497697', link: 'http://localhost/springer/springer15497697.html'},
{article: 'Kahri_2005_15625612', link: 'http://localhost/springer/springer15625612.html'},
{article: 'Kubitza_2005_16328318', link: 'http://localhost/springer/springer16328318.html'},
{article: 'Meyer_1994_7875191', link: 'http://localhost/springer/springer7875191.html'},
{article: 'Mueck_2008_18307374', link: 'http://localhost/springer/springer18307374.html'},
{article: 'Mueck_2011_21895039', link: 'http://localhost/springer/springer21895039.html'},
{article: 'Sambhi_2007_17624521', link: 'http://localhost/springer/springer17624521.html'},
{article: 'Stein_2007_17216557', link: 'http://localhost/springer/springer17216557.html'},
{article: 'Teng_2012_22922682', link: 'http://localhost/springer/springer22922682.html'},
{article: 'Tubic-Grozdanis_2008_18213452', link: 'http://localhost/springer/springer18213452.html'},
{article: 'Vermeulen_2007_17136449', link: 'http://localhost/springer/springer17136449.html'},
{article: 'Volpi_2009_18521091', link: 'http://localhost/springer/springer18521091.html'},
{article: 'Warrington_2011_21877766', link: 'http://localhost/springer/springer21877766.html'},
{article: 'Yu_2009_19071883', link: 'http://localhost/springer/springer19071883.html'},
];
						  %>
							<table id="springer-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<springerArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= springerArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= springerArt[i].link %>&email=<%=user.email%>'>
						                <%= springerArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>
						  </div>
						  <div id="tabs-6">
						  <%
var sageArt = [
{article: 'Aghaienia_2011_21844216',  link: 'http://localhost/sage/sage21844216.html'},
{article: 'Alayli_2005_15914514',  link: 'http://localhost/sage/sage15914514.html'},
{article: 'Atasoyu_2005_15956236',  link: 'http://localhost/sage/sage15956236.html'},
{article: 'Fontanella_2009_19934394',  link: 'http://localhost/sage/sage19934394.html'},
{article: 'Pierson_2006_17121171',  link: 'http://localhost/sage/sage17121171.html'},
{article: 'Roten_2004_15069169',  link: 'http://localhost/sage/sage15069169.html'},
];
						  %>
							<table id="sage-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<sageArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= sageArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= sageArt[i].link %>&email=<%=user.email%>'>
						                <%= sageArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>
						  </div>
						  <div id="tabs-7">
<%
var taylorArt = [
{article: 'Ayalasomayajula_2007_17931461',  link: 'http://localhost/taylorFrancis/taylor17931461.html'},
{article: 'Buyukhatipoglu_2010_20486848',  link: 'http://localhost/taylorFrancis/taylor20486848.html'},
{article: 'Foley-Comer_2011_21114416',  link: 'http://localhost/taylorFrancis/taylor21114416.html'},
{article: 'Kurth_2004_15702572',  link: 'http://localhost/taylorFrancis/taylor15702572.html'},
{article: 'Mitsios_2005_16011979',  link: 'http://localhost/taylorFrancis/taylor16011979.html'},
{article: 'Popli_1995_8556101',  link: 'http://localhost/taylorFrancis/taylor8556101.html'},
{article: 'Sunkara_2007_17355744',  link: 'http://localhost/taylorFrancis/taylor17355744.html'},
{article: 'Yamada_2003_12893526',  link: 'http://localhost/taylorFrancis/taylor12893526.html'},
{article: 'Yu_2012_22149769',  link: 'http://localhost/taylorFrancis/taylor22149769.html'},
];
%>
							<table id="taylor-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<taylorArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= taylorArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= taylorArt[i].link %>&email=<%=user.email%>'>
						                <%= taylorArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>
						  </div>
						  <div id="tabs-8">
<%
var woltersArt = [
{article: 'Aslangul_2010_19838098', link: 'http://localhost/wolters/wolters19838098.html'},
{article: 'Bittar_2012_22739396', link: 'http://localhost/wolters/wolters22739396.html'},
{article: 'Bondolfi_2005_16044115', link: 'http://localhost/wolters/wolters16044115.html'},
{article: 'Busti_2008_18520949', link: 'http://localhost/wolters/wolters18520949.html'},
{article: 'Carrillo_1999_10587283', link: 'http://localhost/wolters/wolters10587283.html'},
{article: 'Chan_2006_17110836', link: 'http://localhost/wolters/wolters17110836.html'},
{article: 'Chang_2012_22217948', link: 'http://localhost/wolters/wolters22217948.html'},
{article: 'Cooper-Kazaz_2010_20520303', link: 'http://localhost/wolters/wolters20520303.html'},
{article: 'Dardis_2012_22735246.pdf', link: 'http://localhost/wolters/wolters22735246.html'},
{article: 'Denbow_1990_2382161', link: 'http://localhost/wolters/wolters2382161.html'},
{article: 'Deng_2008_18408565', link: 'http://localhost/wolters/wolters18408565.html'},
{article: 'DeVane_2001_11476125', link: 'http://localhost/wolters/wolters11476125.html'},
{article: 'Fabrazzo_2000_11106150', link: 'http://localhost/wolters/wolters11106150.html'},
{article: 'Facciola_1998_9853978', link: 'http://localhost/wolters/wolters9853978.html'},
{article: 'Fichtenbaum_2002_11873000', link: 'http://localhost/wolters/wolters11873000.html'},
{article: 'Gerber_2005_15980690', link: 'http://localhost/wolters/wolters15980690.html'},
{article: 'Gex-Fabry_2003_12548144', link: 'http://localhost/wolters/wolters12548144.html'},
{article: 'Gitlin_1997_9004070', link: 'http://localhost/wolters/wolters9004070.html'},
{article: 'Guthrie_1995_7782487', link: 'http://localhost/wolters/wolters7782487.html'},
{article: 'Güzey_2002_12021638', link: 'http://localhost/wolters/wolters12021638.html'},
{article: 'Haslemo_2012_22972535', link: 'http://localhost/wolters/wolters22972535.html'},
{article: 'Hasselstrom_2004_15385830', link: 'http://localhost/wolters/wolters15385830.html'},
{article: 'Hough_2010_20881844', link: 'http://localhost/wolters/wolters20881844.html'},
{article: 'Hung_2012_22561472', link: 'http://localhost/wolters/wolters22561472.html'},
{article: 'Jerling_1994_7974626', link: 'http://localhost/wolters/wolters7974626.html'},
{article: 'Jover_2002_12410055', link: 'http://localhost/wolters/wolters12410055.html'},
{article: 'Justiniano_2007_17921794', link: 'http://localhost/wolters/wolters17921794.html'},
{article: 'Kirchheiner_2002_12360109', link: 'http://localhost/wolters/wolters12360109.html'},
{article: 'Kiser_2008_18176327', link: 'http://localhost/wolters/wolters18176327.html'},
{article: 'Kurnik_2004_15028964', link: 'http://localhost/wolters/wolters15028964.html'},
{article: 'Lange-Asschenfeldt_2002_12172351', link: 'http://localhost/wolters/wolters12172351.html'},
{article: 'Lee_2012_22722500', link: 'http://localhost/wolters/wolters22722500.html'},
{article: 'Lin_2012_22217947', link: 'http://localhost/wolters/wolters22217947.html'},
{article: 'Lu_2002_12172350', link: 'http://localhost/wolters/wolters12172350.html'},
{article: 'Mihara_2003_12766554', link: 'http://localhost/wolters/wolters12766554.html'},
{article: 'Mittino_2004_15190240', link: 'http://localhost/wolters/wolters15190240.html'},
{article: 'Morgan_2012_22472908', link: 'http://localhost/wolters/wolters22472908.html'},
{article: 'Nakamura_2009_19701114', link: 'http://localhost/wolters/wolters19701114.html'},
{article: 'Nichols_2009_19593180', link: 'http://localhost/wolters/wolters19593180.html'},
{article: 'Nickl-Jockschat_2009_19471186', link: 'http://localhost/wolters/wolters19471186.html'},
{article: 'Pasanen_2006_17108811', link: 'http://localhost/wolters/wolters17108811.html'},
{article: 'Potkin_2013_23277250', link: 'http://localhost/wolters/wolters23277250.html'},
{article: 'Reimers_2005_16012277', link: 'http://localhost/wolters/wolters16012277.html'},
{article: 'Shader_1994_7884016', link: 'http://localhost/wolters/wolters7884016.html'},
{article: 'Shin_2004_15319707', link: 'http://localhost/wolters/wolters15319707.html'},
{article: 'Shin_2011_21765368', link: 'http://localhost/wolters/wolters21765368.html'},
{article: 'Sirot_2009_19593168', link: 'http://localhost/wolters/wolters19593168.html'},
{article: 'Spina_2002_12172343', link: 'http://localhost/wolters/wolters12172343.html'},
{article: 'Spina_2009_19865002', link: 'http://localhost/wolters/wolters19865002.html'},
{article: 'Strouse_2006_17110838', link: 'http://localhost/wolters/wolters17110838.html'},
{article: 'Trieu_2004_15545884', link: 'http://localhost/wolters/wolters15545884.html'},
{article: 'Ubogu_2003_12671522', link: 'http://localhost/wolters/wolters12671522.html'},
{article: 'Uno_2008_18520598', link: 'http://localhost/wolters/wolters18520598.html'},
{article: 'Van-Luin_2010_20395869.pdf', link: 'http://localhost/wolters/wolters20395869.html'},
{article: 'Yeh_2006_16639344', link: 'http://localhost/wolters/wolters16639344.html'},
];
%>
							<table id="wolters-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<woltersArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= woltersArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= woltersArt[i].link %>&email=<%=user.email%>'>
						                <%= woltersArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>
						  </div>
						  <div id="tabs-9">
						  <%
var futureArt = [
{article: 'Moons_2011_21843066',  link: 'http://localhost/futureMedicine/futureMedicine21843066.html'},
];
						  %>
							<table id="future-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Article</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var i=0; i<futureArt.length; i++) { %>
						        <tr>
						        	<td><%= i+1 %></td>
						        	<td><%= futureArt[i].article %></td>
						            <td><a href='displayWebPage?sourceURL=<%= futureArt[i].link %>&email=<%=user.email%>'>
						                <%= futureArt[i].link %>
						            </a></td>
						        </tr>
						   		<% } %>
						   </tbody>
						   </table>
						  </div>
						</div>

					   
					   <% } %>
	    </div>
	    <br><br>

	    
	    <!-- annotation download  -->

	    <form action="/dbmiannotator/exportcsv" method="get">
	      <strong>Download my annotations in tsv: </strong>
	      <input type="text" id="email" name="email" value="<%= user.email %>" style="display: none;" />
	      <button id="exportButton" class="btn btn-success">Download</button>
	    </form>
	    
	  </div>
	  
	</div>





	
      </div>	
    </article>


    
  </body>
</html>
