 <!-- 
 Copyright 2016-2017 University of Pittsburgh

 Licensed under the Apache License, Version 2.0 (the "License");
 you may not use this file except in compliance with the License.
 You may obtain a copy of the License at

     http:www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->

<html>
  <body>

    <head>
      <title>AnnotationPress</title>

      <style> body        { padding-top:80px; word-wrap:break-word; } </style>
      <script src="js/jquery-1.11.1.min.js"></script>
      <script src="js/jquery-ui.js"></script>
      <script src="js/require.js"></script>
      <script src="js/bootstrap.min.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="css/jquery-ui.css" />
      <link rel="stylesheet" href="css/bootstrap.min.css"> <!-- load bootstrap css -->
      <link rel="stylesheet" href="css/font-awesome.min.css"> <!-- load fontawesome -->
      <script>
		  $( function() {
		    $( "#tabs" ).tabs();
		  } );
	  </script>
    </head>
    
    <article>

      <div class="row">
	
        <div class="col-sm-8">
	  <div class="page-header text-center">
	    <h1>AnnotatonPress </h1>
	  </div>
	  
	  <div class="well">
	    
	    <strong>Welcome: </strong> <%= user.email %> &nbsp;&nbsp;&nbsp;&nbsp;
	    <a href="/dbmiannotator/logout" class="btn btn-default btn-sm">Logout</a>
	    
	    <br><br><br>
	    
	    <!-- document load  -->
	    <strong>Load document: </strong>
	    (Please input valid html web resources or PDF document URL): 
	    <br>
		  
		  
	    <div id="toppanel">
	      
	      <form action="/dbmiannotator/displayWebPage" method="get" >
		<input type="text" id="sourceURL" name="sourceURL" size="40" maxlength="150" />
		<input type="text" id="email" name="email" value="<%= user.email %>" style="display: none;" />  &nbsp;
		<button id="loadButton" class="btn btn-success">load</button>
	      </form>
	      
    <% if (loadMessage.length > 0) { %>
				     <div class="alert alert-warning"><%=loadMessage %></div>
				     <% } %>
	    </div>
		  
		  
            <h3><span class="fa fa-user"></span>&nbsp;Profile (Overview annotation tasks) </h3>

	    <div class="table table-striped" >

		    
    <%  if (annotations.total == -1) {   %>
	      <tr>
		<td>Document source URL </td>
           		<td>Number of Annotations </td>
	      </tr>

	      <%
				      var dictAnnots = {};
		 
				      for(var i=0; i < annotations.rows.length; i++) {
					  if (annotations.rows[i].rawurl in dictAnnots){
					      dictAnnots[annotations.rows[i].rawurl] += 1;
					  } else {
					      dictAnnots[annotations.rows[i].rawurl] = 1;
					  }
				      }
				      
				      for (var item in dictAnnots){
					  var dbmiurl = "";
					  // if (item.match(/localhost.*\.pdf/g)){
					  //     dbmiurl = "viewer.html?file=" + item + "&email=" + user.email;
					  // }
					  // else {
					  //     dbmiurl = "displayWebPage?sourceURL=" + item + "&email=" + user.email;
					  // }

					  if (item.match(/localhost.*\.html/g)){
					      dbmiurl = "displayWebPage?sourceURL=" + item + "&email=" + user.email;
					  }
					      %>
		 <tr>
						  <td><a href="<%=dbmiurl %>" > <%=item %> </a>  </td>
						  <td><%=dictAnnots[item] %> </td>
						  </tr>

					      <% }
				  } else { %>

	    
					    <strong>Local document links </strong><br><br>

					    <div id="tabs">
						  <ul>
						  	<%var articleMap = []; articleMap['dailymed'] = 'DailyMed'; articleMap['pmc'] = 'PMC'; articleMap['wiley'] = 'Wiley'; articleMap['elsevier'] = 'Elsevier';%>
						  	<%articleMap['springer'] = 'Springer'; articleMap['sage'] = 'Sage'; articleMap['taylor'] = 'Taylor & Francis'; articleMap['wolters'] = 'Wolters Kluwer'; articleMap['future'] = 'FutureMedicine';articleMap['test-experiment'] = 'Test-Experiment';%>
						  	<%for(var i=0; i<config.article.length; i++) { %>
						        <li><a href="#tabs-<%=i+1%>"><%= articleMap[config.article[i]] %></a></li>
						   	<% } %>
						  </ul>
						    <%for(var i=0; i<config.article.length; i++) { %>
						    <div id="tabs-<%=i+1%>">
						    
					   			<%var artLinks = article[config.article[i]];%>
					   			<table id="<%=config.article[i]%>-tb" class="table table-sm" style="font-size:14px">
					   			<thead>
					   				<tr>
					   					<th width="5%">#</th><th width="30%">Drug</th><th>Link</th>
					   				</tr>
					   			</thead>
					   			<tbody>
					   			<%for(var j=0; j<artLinks.length; j++) { %>
 						        <tr>
						        	<td><%= j+1 %></td>
 						        	<td><%= artLinks[j].article %></td>
 						            <td><a href='displayWebPage?sourceURL=<%= artLinks[j].link %>&email=<%=user.email%>'>
 						                <%= artLinks[j].link %>
 						            </a></td>
 						        </tr>
 						   		<% } %>
						   		</tbody>
						    </table>
						    </div>
						   	<% } %>
						</div>

					   
					   <% } %>
	    </div>
	    <br><br>

	    
	    <!-- annotation download  -->

	    <form action="/dbmiannotator/exportcsv" method="get">
	      <strong>Download my annotations in tsv: </strong>
	      <input type="text" id="email" name="email" value="<%= user.email %>" style="display: none;" />
	      <button id="exportButton" class="btn btn-success">Download</button>
	    </form>
	    
	  </div>
	  
	</div>





	
      </div>	
    </article>


    
  </body>
</html>
